# Consul 
consul/data/*

# Nuxt dev/build outputs
front/.output
front/.data
front/.nuxt
front/.nitro
front/.cache
front/dist

# Node dependencies
front/node_modules

# Logs
front/logs
front/*.log

# Misc
front/.DS_Store
front/.fleet
front/.idea

# Local env files
front/.env
front/.env.*
front/!.env.example

.DS_Store
